# Python
venv/
__pycache__/
*.pyc

# React
node_modules/
dist/

# Environment
.env
.env.local

# VSCode
.vscode/

# macOS
.DS_Store

# Logs
*.log

# Upload sementara
uploads/

# Python cache
.pytest_cache/

# Build
build/